<mat-card>
  <!--form to add news-->
  <form [formGroup]="form">
    <mat-form-field>
      <!--Input field for news title-->
      <input matInput type="text" [(ngModel)]="enteredTitle" formControlName="title"
        placeholder="{{ 'Title' | translate }}" />
      <mat-error *ngIf="form.controls['title'].errors?.required">{{ "This field is mandatory" | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <!--Input field for news content-->
      <textarea matInput rows="6" [(ngModel)]="enteredContent" formControlName="content"
        placeholder="{{ 'Content' | translate }}"></textarea>
      <mat-error *ngIf="form.controls['content'].errors?.required">{{ "This field is mandatory" | translate }}
      </mat-error>
    </mat-form-field>
    <!--Button to save news-->
    <button mat-raised-button color="accent" (click)="addNews()" type="submit" [disabled]="form.invalid">
      {{ "Save News" | translate }}
    </button>
  </form>
</mat-card>
<br />
<br />
<!--Displaying news-->
<mat-accordion multi="true" *ngIf="news.length > 0">
  <mat-expansion-panel *ngFor="let item of news">
    {{ item.content }}
    <mat-expansion-panel-header>
      {{ item.title }}
    </mat-expansion-panel-header>
    <mat-action-row>
      <!--Button to edit single news article-->
      <button mat-button color="primary" [routerLink]="['/updateNews', item._id]">
        {{ "EDIT" | translate }}
      </button>
      <!--Button to Delete single news Article-->
      <button mat-button color="warn" (click)="deleteSingleNews(item._id)">
        {{ "DELETE" | translate }}
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p *ngIf="news.length == 0" class="info-news">{{ "No News available" | translate }}</p>
<br />
<br />